

<div id="container">
  
<ion-fab *ngIf="this.isSupported == true && this.isAvailable == true" size="small" slot="fixed" vertical="top" horizontal="end" edge="true">
  <ion-fab-button (click)="scan()" color="primary">
    <img src=""  style="padding: 10px;" alt="SCAN QR">
  </ion-fab-button>
</ion-fab>

  <strong>{{ name }}</strong>
  <p>Bienvenido {{ usrName }}! Más funciones se agregaran pronto...</p>
  <ion-card>
    <ion-item>
      <ion-label>{{ this.apellido }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ this.nombre }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ this.genero }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ this.dni }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ this.bornDate }}</ion-label>
    </ion-item>
    
  </ion-card>
</div>